* {
  margin: 0;
  padding: 0;
}

body {
  height: 97vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #e7e7e7;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  background-color: #334953;
}

header {
  padding: 15px 0px;
  background-color: #062839;
  width: 100vw;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
}

.display {
  flex: 1;
  border: 5px #ff5722 solid;
  border-radius: 10px;
  background-color: #572727;
  padding: 7px 10px 15px 0px;
  width: 98%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  white-space: pre;
}

.buttons {
  flex: 5;
  border: 5px #f44336 solid;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  background-color: #4b352d;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin: 10px;
}

.buttons > div > div > div {
  width: 105px;
  height: 60px;
  background-color: #795548;
  border: 1px solid #9e9e9e;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side {
  display: flex;
  flex-direction: column;
  height: 97%;
}

#btn-0 {
  flex: 2;
}

#btn-plus {
  flex: 2;
}

#btn-eq {
  flex: 2;
}

.col {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
  margin: 10px;
}

#eq,
#result {
  height: 100%;
}
